---
interface Props {
  href: string;
  align?: 'left' | 'right' | 'center';
}
---

{
  Astro.props.align ? (
    <div class={`cta-${Astro.props.align}`}>
      <a class="cta" href={Astro.props.href}>
        <slot />
      </a>
    </div>
  ) : (
    <a class="cta" href={Astro.props.href}>
      <slot />
    </a>
  )
}

<style>
  a.cta {
    text-decoration: none;
    background: #000;
    color: #fff;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  a.cta:hover {
    background: none;
    color: #000;
    outline: 2px solid #000;
    outline-offset: -2px;
    animation: 0.2s ease infinite rotate;
    transition-duration: 0.2s;
  }

  div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  div.cta-left {
    justify-content: flex-start;
  }

  div.cta-right {
    justify-content: flex-end;
  }

  div.cta-center {
    justify-content: center;
  }
</style>
